@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 10vw;
    background-color: black;
}

.container {
    height: 100vh;
    display: flex;
}

.leftContainer {
    height: 100vh;
    width: 32vw;
    position: relative;
    background-image: url("bicas.jpg");
    background-position: center;
    background-size: cover;
}

.rightContainer {
    height: 100vh;
    width: 42vw;
    position: relative;
    background-color: honeydew;
}

.logoBackdrop {
    height: 25vh;
    width: 32vw;
    justify-content: center;
    background-color: black;
    opacity: 0.6;
    position: absolute;
}

.logoContainer {
    display: flex;
    position: absolute;
    top: 25vh;
}

.logo {
    top: -17vh;
    width: 30vw;
    margin: auto;
    opacity: 1;
    position: absolute;
}

.credits {
    position: absolute;
    top: 98vh;
    color: white;
    margin: auto;
    margin-left: 25%;
    font-size: 0.7rem;
}

.credits a {
    color: white;
    font-weight: lighter;
}

#joinUs {
    margin-top: 20px; /*atskirti nes marginai neklauso del hierarchijos*/
    display: flex;
}

.textAboveForm #topText {
    font-weight: 570;
    font-size: 1.6rem;
    line-height: 1.4;
}

.textAboveForm {
    display: flex;
    /*position: absolute;*/
    flex-direction: column;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 1.3rem;
}

.invitation {
    font-weight: bolder;
    font-size: 1.3rem;
    margin-left: 5px;
    margin-bottom: 5px;
}

/*Form Start*/
form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    margin: 0 0px;
    padding: 0 30px 10px;;
    box-shadow: 0px 2px 2px rgb(197, 197, 197);
    margin-top: 15vh;
    width:100%
}

.names, .passwords {
    display: flex;
    flex-direction: row;
}

.contact {
    flex-direction: column;
}

#email, #phoneNumber {
    width:195%;
    gap: 10px;
    margin: 0 5px;
}

#email {
    margin-bottom: 5px;
}

.pair {
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}

.error {
    border: 1px solid red;
}

.noError{
    border: 1px solid blueviolet;
}

input {
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
}

input:focus-visible, input:focus {
    background-color: #ffe7e7;
    border: 1px solid blueviolet;
    outline: none;
    box-shadow: 0px 1px 3px rgb(161, 161, 161);
}

input:hover {
    background-color: rgb(255, 231, 231);
}
/*Form End*/

.submit {
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    margin: 30px;
    width: 12rem;
    height: 3rem;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
}

.bottomText{
    margin: 0px 30px;
}

.bottomText a {
    color: green;
    text-decoration: none;
}